NEXT_PUBLIC_SUPABASE_URL=https://kumkbifrcazgcpnlbesy.supabase.co
NEXT_PUBLIC_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt1bWtiaWZyY2F6Z2NwbmxiZXN5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwNTY5MzYsImV4cCI6MjA5NTYzMjkzNn0.OwHT39P-3e8LDt90dmhPeQAMzpX66jsryDCURjOzgc4
